a {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 100;
}

p {
    font-family: 'Montserrat', Verdana, sans-serif;
    font-size: 12px;
}

.container-fluid {
    padding: 0;
}

.backgroundImage {
    height: 890px;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .bannerOverlay {
        top: 40%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        position: relative;


        h1, h2 {
            color: white;
            font-family: 'Montserrat', Verdana, sans-serif;
            /*text-shadow: 1px 1px black;*/
            /*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
            text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
            font-weight: bold;
        }

        h2 {
            font-weight: bold;
        }
    }
}



/* BANNER FOR EACH PAGE */
.frontpageBanner {
    background-image: url('../../Images/croneRestaurant2.jpg');
}

.dinnerBanner {
    background-image: url('../../Images/dinnerBanner.jpg');
}

.lunchBanner {
    background-image: url('../../Images/lunchBanner.jpg');
}

.dishofthedayBanner {
    background-image: url('../../Images/disofthedayBanner.jpg');
}

.canteensolutionBanner {
    background-image: url('../../Images/canteensolutionsBanner.jpg');
}

.roomsBanner {
    background-image: url('../../Images/rooms2.jpg');
}

.aboutBanner {
    background-image: url('../../Images/about2.jpg');
}

/* NAVIGATION */


.navbar {
    background-color: white;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6);

    .dropdown-menu {
        font-size: 11px;
        a:hover{
            margin:0;
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    ul li {
        a {
            background-color: rgba(0, 0, 0, 0) !important;
            color: #5a6771 !important;
        }

        a:hover, a:active, a:focus {
            text-decoration: underline;
            text-decoration-style: double;
            text-decoration-color: #9f8c50;
            margin-bottom: 5px;
        }

        .dropdown a:hover {
            margin-bottom: 0px !important;
        }
    }
}

.overlay-content {
    max-height: 100vh;
    overflow-y: auto;
}

body {
    padding-top: 60px;
}

/*.parallax-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}*/

.dropdown ul li a {
    padding-top: 10px !important;
}

.about-us-text {
    margin-top: 60px;
    margin-bottom: 100px;
    line-height: 30px;
    font-size: 12px;
    padding: 20px;

    .maxChar {
        max-width: 930px;
        margin: 0 auto
    }
    /*p:last-of-type {
        font-weight: bold;
        margin-top: 10px;
    }*/
    .longMenu {
        line-height: 2;
    }

    a {
        text-decoration: none;
        font-family: 'Montserrat', Verdana, sans-serif;
        color: #5a6771;
        font-weight: bold;
    }

    .text {
        margin-left: 20px;
        margin-top: 30px;
    }

    .regards {
        font-weight: bold;
        margin-top: 10px;
    }

    .prices {
        margin-left: 20px;
    }
}

/* FOOTER */

footer {
    font-size: 11px;

    h5 {
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    a, a:hover {
        display: block;
        color: #333;
        line-height: 20px;
    }

    .socialmedia {
        .fb {
            background-image: url('../../GFX/fbiconsmall.png');
            background-size: cover;
            height: 4em;
            width: 4em;
            border-radius: 10px 10px;
            /*margin-left: 50px;*/
        }

        .fb:hover {
            background-image: url('../../GFX/fbiconsmallgold.png');
            -moz-box-shadow: inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 0 10px #000000;
            border-radius: 10px 10px;
        }
    }
}

.address, .openhours, .socialmedia {
    padding-bottom: 70px;
}


/* OVERLAY/MODAL*/
.overlay a {
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.contactForm {
    width: 300px;
    margin: 30px auto 0;

    button {
        border: #5a6771 2px solid;
        background-color: rgba(0, 0, 0, 0);
        padding: 5px;
        margin: auto 0;
        width: 400px;
        margin-bottom: 20px;
        font-weight: bold;
        color: #5a6771;
    }

    button:hover {
        background-color: #5a6771;
        color: white;
    }
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: white;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    /* INPUT FIELDS */
    /* form starting stylings */
    .group {
        position: relative;
        margin-bottom: 45px;
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 400px;
        border: none;
        border-bottom: 1px solid #757575;
    }

    input:focus {
        outline: none;
    }

    textarea {
        border: 1px solid #757575;
        width: 400px;
        font-size: 12px;
    }
    /* LABEL */
    label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .textareaLabel {
        color: #999;
        margin-left: 5px;
    }
    /* ACTIVE STATE */
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #5a6771;
    }
    /* BOTTOM BARS */
    .bar {
        position: relative;
        display: block;
        width: 400px;
    }

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5a6771;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }
    /* ACTIVE STATE */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
        width: 50%;
    }
    /* HIGHLIGHTER */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    /* ACTIVE STATE */
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
    /* ANIMATIONS */
    @-webkit-keyframes inputHighlighter {
        from {
            background: #5a6771;
        }

        to {
            width: 0;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    @-moz-keyframes inputHighlighter {
        from {
            background: #5a6771;
        }

        to {
            width: 0;
            background-color: rgba(0, 0, 0, 0);
        }
    }

    @keyframes inputHighlighter {
        from {
            background: #5a6771;
        }

        to {
            width: 0;
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

/* MEDIA QUERIES */
/* Width Based */
@media screen and (min-width: 770px) {

    nav {
        .navbar-brand {
            height: 140px;
        }

        .navbar-toggle {
            margin: 13px 15px 13px 0;
        }

        a {
            font-size: 11px;
            padding-bottom: 20px !important;
            padding-top: 50px !important;
            transition: all 0.3s ease;
        }

        .navbar-brand {
            padding-bottom: 20px !important;
            padding-top: 10px !important;
            transition: all 0.3s ease;
        }
    }

    .modalContact {
        padding-left: 100px;
        font-size: 12px;
        line-height: 20px;

        p {
            margin-bottom: 25px;
        }

        a {
            color: black;
        }
    }



    nav.navbar.shrink {
        min-height: 35px;

        .navbar-brand {
            height: 100px;
        }

        a {
            font-size: 10.5px;
            padding-bottom: 10px !important;
            padding-top: 35px !important;
        }

        .navbar-brand {
            padding-bottom: 10px !important;
            padding-top: 10px !important;
        }

        .navbar-toggle {
            margin: 8px 15px 8px 0;
            padding: 4px 5px;
        }
    }
}


@media screen and (max-width: 770px) {
    .navbar ul li a:hover, .navbar ul li a:active, .navbar ul li a:focus{
        margin-bottom:0;
    }

    .navbar-brand {
        height: 100px;
    }

    p {
        font-size: 12px;
    }

    .navbar {
        font-family: 'Montserrat', Verdana, sans-serif;
        font-size: 11px;
    }

    .navbar-header button {
        margin-top: 30px;
        border: none;
    }

    .backgroundImage {
        height: 700px;

        .bannerOverlay {
            top: 25%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            position: relative;
        }
    }

    textarea {
        width: 300px;
    }

    .footerElements {
        text-align: center;

        .fb {
            margin-left: 45px;
        }
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .overlay-content {
        input, textarea, .bar, button {
            width: 300px;
        }
    }
}

/* Height based */
/* OVERLAY/MODAL MEDIA Q'S*/

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-height: 770px) {
    .overlay-content {
        input, textarea, button {
            margin-top: 20px;
        }
    }


    /*   .nav {

        .navbar-brand {
            height: 150px !important;
        }



        a {
            padding-top: 20px !important;
            font-size:10px;
        }
    }

    .navbar {
        background-color: black;
        height: 70px;

        img {
            height: 75px;
        }
    }

    body {
        padding-top: 0px;
    }*/
}
